<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include ./partials/header.ejs %>
  <form enctype="multipart/form-data" method="post" action="/add_sighting_to_db">
    <!-- values are setted in javascripts/indexeddb.js -->
    <input id="user_session_id" name="user_session_id" type="hidden" value=""><br>
    <input id="username" name="username" type="hidden" value=""><br>

    <!-- Get the time for sighting    -->
    <label for="sighted_at">Date:</label>
    <input type="date" id="sighted_at" name="sighted_at">

    <!-- imagine this to be like a google search bar,
      with updated search result of the Wiki, need week 7/8 lectures -->
    <label for="sighting_identification">Identification</label>
    <input id="sighting_identification" name="identification" type="text"><br>

<!--      <label for="sighting_location">Location:</label>-->
<!--      <input id="sighting_location" name="location" type=""><br>-->

    <label for="sighting_description">Description:</label><br/>
    <textarea id="sighting_description" name="description" class="description" placeholder="Description" required></textarea><br/>

    <label for="sighting_image">Choose an image</label>
    <input id="sighting_image" name="image" type="file" accept="image/*" required><br>

    <button id="add_sighting_btn" type="submit" class="button" disabled>Add sighting</button>
  </form>

  <% include ./partials/footer.ejs %>
</body>
</html>
