<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/indexeddb.js"></script>
  </head>
  <body>
    <p><a href="/">back</a></p>
    <h1><%= title %></h1>
    <form action="">
      <!-- associate nickname or ip address with sighting record? -->
      <input id="user_session_id" name="user_session_id" type="hidden" value=""><br>

      <!-- user defined date time of sighting?
        or programmatically, i.e. record creation time -->

      <!-- imagine this to be like a google search bar,
        with updated search result of the Wiki, need week 7 lectures -->
      <label for="sighting_identification">Identification:</label>
      <input id="sighting_identification" name="identification" type=""><br>

      <label for="sighting_location">Location:</label>
      <input id="sighting_location" name="location" type=""><br>

      <label for="sighting_description">Description</label>
      <input id="sighting_description" name="description" type="text"><br>

      <button id="add_sighting_btn" type="submit" disabled>Add sighting</button>
    </form>

  </body>
</html>
