<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- enable add button only if the user has entered their nickname,
      to ensure each sighting record is associated with a nickname -->
    <input id="add_sighting_btn" type="button" value="+ Add sighting"
           onclick="location.href='/add_sighting'" disabled />

    <% include ./partials/footer.ejs %>
  </body>
</html>
