body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightblue;

}

a {
  color: #00B7FF;
}

.title {
  /*font-size: 35px;*/
  text-align: center;
  font:45px  "Helvetica", Arial, sans-serif;
  font-weight: bold;
  color: black;
}

.title1 {
  font:25px  "Helvetica", Arial, sans-serif;
  font-weight: bold;
  color: deepskyblue;
  float: left;
}

.title2 {
  font:25px  "Helvetica", Arial, sans-serif;
  font-weight: bold;
  color: deepskyblue;
  float: left;

}

.bodyword {

}

.description {
  width: 65%;
  height: 100%;
  min-height: 100px;
  border-radius: 8px;
  resize: none;
  overflow: auto;
  border: 1px solid black;
}

.text_box {
  border-radius: 4px;
  border: 1px solid black;

}

.button {
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homebar {
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.homebar a{
  font-size: 25px;
  font-weight: bold;
  float: left;
  display: block;
  color: deepskyblue;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.foot {
  overflow: hidden;
  background-color: lightblue;
  padding: 10px 20px;
  text-align: center;

}

.foot p {
  /*float: left;*/
  color: black;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 5px;
}

.table{
  width: 100%;
  background: white;
  text-align: center;
}
.table th {
  padding: 10px;
  font-size: 20px;
}

.table td {
  padding: 10px;
  font-size: 20px;
}


.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.sighting-row:hover {
  background-color: lightblue;
  /*cursor: pointer;*/
}